NODE_ENV=development
PORT=3001
APP_URL=http://localhost:3001
DB_TYPE=file
CORS_ORIGINS=http://localhost:3001
JWT_SECRET=change_this_long_secret_in_replit_secrets
SESSION_SECRET=change_this_long_secret_in_replit_secrets
LOG_LEVEL=debug
